.container {
  height: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.content {
  flex: 1;
  max-width: 900px;
}

.quiz-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quiz-title span{
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.quiz-header {
  background: #F1EEF5;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.2rem;
  padding: 0.5rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.category-item {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all;
  transition-duration: .3s;
}

.category-item span {
  font-weight: 500;
  font-size: 1.25rem;
}

.geography {
  background-color: #5C89E7;
}

.geography:hover {
  box-shadow: rgba(92, 137, 231, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sports {
  background-color: #FFA37E;
}

.sports:hover {
  box-shadow: rgba(255, 163, 126, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.science {
  background-color: #83D7BE;
}

.science:hover {
  box-shadow: rgba(131, 215, 190, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.entertainment {
  background-color: #FFADB7;
}

.entertainment:hover {
  box-shadow: rgba(255, 173, 183, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media only screen and (min-width: 700px) {
  .category-grid {
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .quiz-header {
    padding-left: 10rem;
  }
}